{% extends 'base.html.twig' %}

{% block title %}VCT - Home{% endblock %}

{% block body %}
    <h1 class="mainContent__mainTitle"><span class="mainContent__mainTitle-reduced">Bienvenue dans le monde de</span> <br/><span class="mainContent__mainTitle-highLighted">V</span>an <span class="mainContent__mainTitle-highLighted">C</span>allemont <span class="mainContent__mainTitle-highLighted">T</span>hibaut</h1>
{% endblock %}
