{% extends 'base.html.twig' %}

{% block title %}VCT - Home{% endblock %}

{% block body %}
    <main class="baseContainer">
        <div class="header">
            <div class="">
            </div>
        </div>
    </main>
{% endblock %}
