<div class="adminToolBar">
    <div class="adminToolBar__dropdown">
        <a class="adminToolBar__dropdown-label" role="button">
            Mon blog <i class="fa-solid fa-chevron-down faIcon"></i>
        </a>
        <ul class="adminToolBar__dropdown-list">
            <li class="adminToolBar__dropdown-item">
                <a class="adminToolBar__dropdown-itemLink" href="#">Tableau de bord</a>
            </li>
            <li class="adminToolBar__dropdown-item">
                <a class="adminToolBar__dropdown-itemLink" href="#">Menus</a>
            </li>
        </ul>
    </div>
</div>