<footer class="footer">
    <div class="footer__content">
        <p class="footer__copyright">© VCT {{ 'now' | date('Y') }}</p>
        <div class="footer__socialMedia">
            <p class="footer__socialMedia-label">Retrouvez-moi sur </p>
            <img class="footer__socialMedia-logo" src="{{ asset('/build/images/github_logo_white.svg') }}" />
            <img class="footer__socialMedia-logo" src="{{ asset('/build/images/linkedin_logo_white.svg') }}" />
        </div>
    </div>
</footer>