<header class="header">
    <div class="header__content">
        <div class="header__main">
            <a class="header__logo-link" href="/fr">
                <img class="header__logo header__logo-darkMode" src="{{ asset('/build/images/vct_mainLogo_white.svg') }}" width="100" />
                <img class="header__logo header__logo-lightMode" src="{{ asset('/build/images/vct_mainLogo_green.svg') }}" width="100" />
            </a>
            <nav class="header__menu">
                <ul class="header__menu-list">
                    <li class="header__menu-item">
                        <a class="header__menu-item-link" href="/fr/portfolio">Portfolio</a>
                    </li>
                    <li class="header__menu-item">
                        <a class="header__menu-item-link" href="/fr/cv">CV</a>
                    </li>
                    <li class="header__menu-item">
                        <a class="header__menu-item-link" href="/fr/univers">Mon Univers</a>
                    </li>
                    <li class="header__menu-item">
                        <a class="header__menu-item-link" href="/fr/contact">Contact</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="header__options">
            <input type="checkbox" id="darkMode" class="header__darkMode-toggle" checked />
            <label for="darkMode" class="header__darkMode-toggleLabel"></label>
            <p class="header__option header__option-darkMode">Mode Sombre</p>
            <a class="header__option" href="/en">English Version</a>
        </div>
    </div>
</header>