<header class="header">
    <div class="header__content">
        <div class="header__main">
            <a href="/">
                <img class="header__logo" src="{{ asset('/bundles/demoimage/images/mainLogo.svg') }}" />
            </a>
            <nav class="header__menu">
                <ul class="header__menuList">
                    <li class="header__menuItem"><a href="/portfolio">Portfolio</a></li>
                    <li class="header__menuItem"><a href="/cv">CV</a></li>
                    <li class="header__menuItem"><a href="/univers">Mon Univers</a></li>
                    <li class="header__menuItem"><a href="/contact">Contact</a></li>
                </ul>
            </nav>
        </div>
        <div class="header__options">
            <input type="checkbox" id="darkMode" class="header__darkMode-toggle" />
            <label for="darkMode" class="header__darkMode-toggleLabel"></label>
            <p class="header__option">Mode Sombre</p>
            <a href="https://en.vct-dev.test">English Version</a>
        </div>
    </div>
</header>